<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaegyu.shoppingmall.member.memberMapper">

	<insert id="insertMember" parameterType="memberDTO"> insert into
		member values(#{id},#{passwd},#{name},#{ssn1},#{ssn2},#{email},#{ph1},#{ph2},#{ph3},#{zipcode},#{addr1},#{addr2},#{member_admin},sysdate) </insert>
	<select id="checkMember" parameterType="memberDTO" resultType="int"> 
		select count(*) from member where ssn1=#{ssn1} and ssn2=#{ssn2}
	</select>
	<select id="loginMember" parameterType="String" resultType="memberDTO">
		select id, passwd from member where id=#{id}
	</select>
	<select id="confirmId" parameterType="String" resultType="String">
		select id from member where id=#{id}
	</select>
	<select id="getMember" parameterType="String" resultType="memberDTO">
    select * from member where id = #{id}
  </select>
  <update id="updateMember" parameterType="memberDTO">
    update member set name=#{name}, passwd=#{passwd}, email=#{email}, ph1=#{ph1}, ph2=#{ph2}, ph3=#{ph3}, zipcode=#{zipcode} addr1=#{addr1} addr2=#{addr2} where id=#{id}
  </update>
  <delete id="deleteMember" parameterType="String">
  	delete from member where id=#{id}
  </delete>
  <select id="isAdmin"	parameterType="String" resultType="int">
  	select member_admin from member where id=#{id}
  </select>
  <select id="searchZipcode" parameterType="String" resultType="zipcodeDTO">
  	select * from zipcode where dong like #{dong}
  </select>
</mapper>

